@import "mocha.css"; 

* {
    font-family: "Martian Mono Condensed Semibold";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
	background: rgba(24, 24, 37, 0.75);
    color: @mauve;
    transition-property: background-color;
    transition-duration: 0.1s;
    /* border-right: 1px solid @surface0; */
}

#window {
    margin: 8px;
    padding-left: 8;
    padding-right: 8;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: @mauve;
    border-top: 2px solid @mauve;
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button.focused {
    color: @mauve;
}

#workspaces button.active {
    color: @mauve;
}

#workspaces button.urgent {
    background-color: @red;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad,
#custom-pacman,
#workspaces {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  /* padding-left: 4px; */
  /* padding-right: 4px; */
  padding-top: 4px;
  padding-bottom: 4px;
  background: rgba(17, 17, 27, 0.85);
  border-radius: 10px;
  min-width: 0;
}

#clock {
    color: @flamingo;
    /* border-right: 2px solid @flamingo; */
}

#clock.date {
    color: @mauve;
    /* border-right: 2px solid @mauve; */
}

#pulseaudio {
    color: @pink;
    /* border-right: 2px solid @pink; */
}

#network {
    color: @peach;
    /* border-right: 2px solid @peach; */
}

#idle_inhibitor {
    margin-right: 12px;
    color: #7cb342;
}

#idle_inhibitor.activated {
    color: @peach;
}

#battery {
    color: @mauve;
    /* border-right: 2px solid @mauve; */
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#custom-vpn {
    color: @peach;
    border-radius: 15px;
    padding-left: 6px;
    padding-right: 6px;
}

#mpris {
    color: @maroon;
    /* border-right: 2px solid @maroon; */
}

#tray {
    color: @overlay1;
	/* border-right: 2px solid @overlay1; */
}

#temperature {
		color: @mauve;
		/* border-right: 2px solid @mauve; */
}

#custom-pacman {
    color: @mauve;
    /* border-right: 2px solid @mauve; */
    padding-top: 2px;
    padding-bottom: 2px;
}

#custom-spacer {
	color: transparent;
	background: transparent;
}
