@import "mocha.css"; 

* {
    font-family: "Martian Mono Condensed Semibold";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    background-color: @crust;
    color: @peach;
    transition-property: background-color;
    transition-duration: 0.1s;
    border-bottom: 1px solid @surface0;
}

#window {
    margin: 8px;
    padding-left: 8;
    padding-right: 8;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: @peach;
    border-top: 2px solid @peach;
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.3);
    color: @peach;
    border-top: 2px solid @peach;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: @peach;
    border-top: 2px solid @peach;
}

#workspaces button.urgent {
    background-color: @red;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#clock {
    color: @peach;
    border-bottom: 2px solid @peach;
}

#clock.date {
    color: @peach;
    border-bottom: 2px solid @peach;
}

#pulseaudio {
    color: @peach;
    border-bottom: 2px solid @peach;
}

#network {
    color: @peach;
    border-bottom: 2px solid @peach;
}

#idle_inhibitor {
    margin-right: 12px;
    color: #7cb342;
}

#idle_inhibitor.activated {
    color: @peach;
}

#battery {
    color: @peach;
    border-bottom: 2px solid @peach;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#custom-vpn {
    color: @peach;
    border-radius: 15px;
    padding-left: 6px;
    padding-right: 6px;
}

#mpris {
    color: @peach;
    border-bottom: 2px solid @peach;
}

#tray {
    color: @peach;
	border-bottom: 2px solid @peach;
}

#temperature {
		color: @peach;
		border-bottom: 2px solid @peach;
}

#custom-pacman {
    color: @peach;
    border-bottom: 2px solid @peach;
    padding-top: 2px;
    padding-bottom: 2px;
}

